---
import {string} from "astro/zod"
import MateriaHabilitada from "./MateriaHabilitada.astro"
import MateriaRequisito from "./MateriaRequisito.astro"

interface Props {
	materia: string
	codigo: string
	paraCursar: Array<condicion> | null
	paraRendir: Array<condicion> | null
	planDeEstudio: string | null
	mesas: Array<mesa> | null
}
interface condicion {
	mat: string
	cond: "R" | "A"
}
interface mesa {
    fecha: Date;
}

const {materia, codigo, paraCursar, paraRendir, planDeEstudio, mesas} = Astro.props
const baseURL = "https://www.google.com/calendar/render?action=TEMPLATE";
---

<article
	class="bg-surface-variant w-full rounded-[32px] border-solid border-outline border p-2 flex flex-row gap-2 items-center justify-start flex-1 relative overflow-hidden">
	<!-- Info de la materia -->
	<div class="flex flex-col w-full sm:w-1/2 gap-2.5 items-center justify-center flex-1 relative">
		<!-- Nombre de la Materia -->
		<div
			class="bg-primary rounded-3xl p-2 flex flex-col gap-1.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden shadow-1">
			<div
				class="bg-primary-container rounded-2xl flex flex-col gap-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
				<!-- Titulo Materia -->
				<div
					class="bg-on-primary rounded-br-[14px] rounded-bl-[14px] p-1.5 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative">
					<h3 class="text-primary text-center text-headline-small relative flex-1 flex items-center justify-center">
						{materia}
					</h3>
				</div>
				<!-- Codigo Materia -->
				<div
					class="pt-1 pr-3.5 pb-1 pl-3.5 flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 relative">
					<p class="text-on-primary-container text-label-medium relative self-stretch flex items-center justify-center">
						Código: {codigo}
					</p>
				</div>
			</div>
		</div>

		<div
			class="bg-primary rounded-3xl p-2 flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden shadow-1">
			<div
				class="bg-on-primary-container rounded-2xl flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 h-10 relative">
				<div
					class="text-primary-container text-center text-title-medium relative self-stretch flex items-center justify-center">
					Proxima Mesa:
				</div>
			</div>
			<div
				class="bg-surface-variant rounded-xl p-1.5 flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 relative">
				<p
					class="text-on-surface-variant text-center text-title-small relative self-stretch flex items-center justify-center">
					{mesas && mesas.length > 0 
						? new Date(mesas[0].fecha).toLocaleDateString('es-ES') 
						: "No hay fechas"}
				</p>
			</div>
			<div class="flex flex-row gap-2.5 w-full">
				<md-filled-tonal-button class="w-full text-on-primary"> Ver Mas </md-filled-tonal-button>
				<md-elevated-button
					href={
						mesas?.length > 0 && mesas[0]?.fecha
						? `${baseURL}&text=Mesa+de+${materia}&dates=${new Date(mesas[0].fecha).toISOString().replace(/-|:|\.\d+/g, '')}`
						: '#'
					}				
					target='_blank'
					rel="noopener noreferrer"
					class="w-full"
					disabled={mesas == null || mesas.length === 0}
					>
					Agendar
				</md-elevated-button>
			</div>
		</div>

		<div
			class="bg-primary rounded-3xl p-2 flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden shadow-1">
			<div
				class="bg-on-primary-container rounded-2xl flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 h-10 relative">
				<div class="text-primary-container text-title-medium relative self-stretch flex items-center justify-center">
					Plan de Estudio:
				</div>
			</div>
			<div class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative">
				<div class="flex flex-row gap-2.5 items-start justify-start self-stretch shrink-0 relative">
					<md-filled-tonal-button class="w-full text-on-primary"> Ver </md-filled-tonal-button>
					<md-elevated-button class="w-full"> Descargar </md-elevated-button>
				</div>
			</div>
		</div>
	</div>
	<!-- Divider -->
	<!-- <md-divider inset style="--md-divider-thickness: 2px; --md-sys-color-outline-variant: var(--md-sys-color-primary);">
	</md-divider> -->
	<!-- Requisitos -->
	{
		(paraCursar.length > 0 || paraRendir.length > 0) && (
			<div class="flex w-full sm:w-1/2 flex-col gap-2.5 items-start justify-start flex-1 relative">
				<div class="bg-secondary-fixed rounded-3xl flex flex-col gap-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden shadow-1">
					<header class="bg-secondary pt-2.5 pr-6 pb-2.5 pl-6 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden">
						<div class="text-on-primary text-center text-title-medium relative flex-1 flex items-center justify-center">
							Requisitos Para Cursar:
						</div>
					</header>
					<div class="p-2.5 flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
						{/* <!-- Materia --> */}
						{paraCursar.length > 0 &&
							paraCursar.map(({cond, mat}) => {
								return <MateriaRequisito condicion={cond} materia={mat} />
							})}
					</div>
				</div>
				<div class="bg-secondary-container rounded-3xl flex flex-col gap-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden shadow-1">
					<div class="bg-secondary pt-2.5 pr-6 pb-2.5 pl-6 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden">
						<div class="text-on-primary text-center text-title-medium relative flex-1 flex items-center justify-center">
							Requisitos Para Rendir:
						</div>
					</div>
					<div class="p-2.5 flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
						{/* <!-- Materia --> */}
						{paraRendir.length > 0 &&
							paraRendir.map(({cond, mat}) => {
								return <MateriaRequisito condicion={cond} materia={mat} />
							})}
					</div>
				</div>
			</div>
		)
	}
</article>
