---
import MateriaRequisito from "./MateriaRequisito.astro"
import { Icon } from 'astro-icon/components';


interface Props {
	materia: string
	codigo: number
	paraCursar: Array<condicion> | null
	paraRendir: Array<condicion> | null
	planDeEstudio: string | null
	mesas: Array<mesa> | null
}
interface condicion {
	mat: string
	cond: "R" | "A"
}
interface mesa {
	fecha: Date
}

const {materia, codigo, paraCursar, paraRendir, planDeEstudio, mesas} = Astro.props
const baseURL = "https://www.google.com/calendar/render?action=TEMPLATE"

const materiaId = materia.replace(/\s+/g, "-").toLowerCase()
---

<article
	id={materia}
	class="bg-surface-variant w-full rounded-[32px] border-solid border-outline border p-2 flex flex-col gap-2 items-center justify-start flex-1 relative overflow-hidden">
	<!-- Info de la materia -->
	<div class="flex flex-row w-full gap-2.5 items-center justify-center flex-1 relative">
		<!-- Nombre de la Materia -->
		<div
			class="bg-primary w-full rounded-3xl p-2 flex flex-col gap-1.5 items-center justify-start shrink-0 relative overflow-hidden">
			<div class="bg-primary-container rounded-2xl flex flex-col gap-2 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
				<!-- Titulo Materia -->
				<div class="bg-on-primary rounded-br-[14px] rounded-bl-[14px] p-1.5 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative">
					<h3 class="text-primary text-center text-headline-small relative flex-1 flex items-center justify-center">
						{materia}
					</h3>
					<md-filled-icon-button id={`toggle-button`} aria-expanded="false" class="hidden" toggle>
						<Icon name="chevron-down" size={22} />
						<Icon name="chevron-up" size={22} slot="selected" />
					</md-filled-icon-button>
				</div>
				<!-- Más Info -->
				<div
					id={`more-info`}
					class="flex transition-all duration-300 w-full flex-col sm:flex-row gap-2 p-2"
					aria-hidden="true">
					<div class="flex-1 border border-outline rounded-3xl p-2 flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden">
						<div class="bg-secondary text-on-secondary rounded-2xl p-2.5 flex flex-col lg:flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative">
							{
								mesas && mesas.length > 0 ? (
									<p class="text-title-medium relative flex-1 flex items-center justify-center">
										Proxima Mesa:
									</p>
									<p class="text-center text-title-small relative flex items-center justify-center">
										{new Date(mesas[0].fecha).toLocaleDateString("es-ES") }
									</p>
								) :
								(
									<p class="text-title-medium relative flex-1 flex items-center justify-center">
										No hay fechas
									</p> 
								)
							}
						</div>

						<div class="flex flex-col lg:flex-row gap-2.5 w-full">
							<md-filled-tonal-button class="w-full text-on-primary">
								Ver Mas
							</md-filled-tonal-button>

							<md-filled-button
								href={mesas?.length > 0 && mesas[0]?.fecha ?
								`${baseURL}&text=Mesa+de+${materia}&dates=${new Date(mesas[0].fecha).toISOString().replace(/-|:|\.\d+/g, "")}`
								:	"#"}
								target="_blank"
								rel="noopener noreferrer"
								class="w-full"
								disabled={mesas == null || mesas.length === 0}>
								Agendar
							</md-filled-button>
						</div>
					</div>

					<div class="flex-1 border border-outline rounded-3xl p-2 flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative overflow-hidden">
						<div class="bg-secondary text-on-secondary rounded-2xl p-2.5 flex flex-col lg:flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative">
							<div class="text-title-medium relative self-stretch flex items-center justify-center">
								Plan de Estudio:
							</div>
						</div>

						<div class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative">
							<div class="flex flex-col lg:flex-row gap-2.5 items-start justify-start self-stretch shrink-0 relative">
								<md-filled-tonal-button class="w-full text-on-primary"> Ver </md-filled-tonal-button>
								<md-elevated-button class="w-full"> Descargar </md-elevated-button>
							</div>
						</div>
					</div>
				</div>
				

				<!-- Codigo Materia -->
				<!-- <div
					class="pt-1 pr-3.5 pb-1 pl-3.5 flex flex-col gap-2.5 items-center justify-center self-stretch shrink-0 relative">
					<p class="text-on-primary-container text-label-medium relative self-stretch flex items-center justify-center">
						Código: {codigo}
					</p>
				</div> -->
			</div> 
		</div>
	</div>
	<!-- Requisitos -->
	{
		(paraCursar.length > 0 || paraRendir.length > 0) && (
			<div class="flex w-full flex-col md:flex-row gap-2.5 items-start justify-start flex-1 relative">
				<div class="bg-secondary-fixed-dim flex-1 rounded-3xl flex flex-col gap-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
					<header class="bg-secondary pt-2.5 pr-6 pb-2.5 pl-6 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden">
						<p class="text-on-secondary text-center text-title-medium relative flex-1 flex items-center justify-center">
							Requisitos Para Cursar:
						</p>
					</header>
					<div class="p-2.5 flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
						{/* <!-- Materia --> */}
						{paraCursar.length > 0 &&
							paraCursar.map(({cond, mat}) => {
								return <MateriaRequisito condicion={cond} materia={mat} />
							})}
					</div>
				</div>
				<div class="bg-secondary-fixed-dim flex-1 rounded-3xl flex flex-col gap-0 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
					<header class="bg-secondary pt-2.5 pr-6 pb-2.5 pl-6 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden">
						<p class="text-on-secondary text-center text-title-medium relative flex-1 flex items-center justify-center">
							Requisitos Para Rendir:
						</p>
					</header>
					<div class="p-2.5 flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative overflow-hidden">
						{/* <!-- Materia --> */}
						{paraRendir.length > 0 &&
							paraRendir.map(({cond, mat}) => {
								return <MateriaRequisito condicion={cond} materia={mat} />
							})}
					</div>
				</div>
			</div>
		)
	}
</article>

<script>
	document.getElementById(`toggle-button`)?.addEventListener("click", () => {
		
		const moreInfo = document.getElementById(`more-info`);

		if (moreInfo) {
			moreInfo.classList.toggle("hidden"); // Alternar visibilidad
			moreInfo.classList.toggle("flex"); // Asegurarse de que se muestra correctamente
		}
	});
</script>